@import url("https://fonts.googleapis.com/css2?family=Roboto:wdth@92.9&display=swap");

/* Universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
